# Node.js
node_modules/
dist/
dist-ssr/
*.local

# .NET
backend/bin/
backend/obj/
app-owner-portal/**/bin/
app-owner-portal/**/obj/
*.user
*.suo
*.log
*.exe
*.dll
*.pdb
*.obj
*.bin

# Env files
.env
.env.*
!.env.example

# Misc
.vscode/
.idea/
.DS_Store
*.sw?
